body {
  font-family: Arial; 
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

.container_1 {
  color: white;
  background-color: #333;
  border-style:solid;
  border-width:1px;
  border-color:black;
  margin:auto;
  padding: 20px;
  width:700px;
}
a:visited {
  color: white;
}
a:link {
  color: white;
}
.head {
  margin:auto;
  border-style:solid;
  border-width:1px;
  border-color:black;
  margin-bottom:10px;
  width:740px;
}
.head ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.head li {
    float: left;
}

.head li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.head li a:hover {
    background-color: #111;
}