<h1>Next Semesters</h1>

<form action="/blogpost/" method="POST">
  Title: <input type="text" name="title" value="This is a title"><br/>    
  Image: <input type="text" name="image" value="http://cdn.pcwallart.com/images/miami-skyline-wallpaper-3.jpg"><br/>   
  Content: <input type="text" name="content" value="This is content"><br/> 
  <input type="submit">
</form>

<br/>